body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 30px;
}

nav.navbar.shrink {
  min-height: 35px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

.mousetoHand{
	cursor: pointer;
}
.text-muted {
	color: #BCBB30;
}
.text-thin {
	font-weight: 100;
}
.title-super {
	font-size: 70px;
}
.title-logo {
	margin-top: 40px;
}
p.main {
	text-align: justify;
}
.textContainer {
	vertical-align: middle;
	display: inline-block;
}
img {
	border:1px solid black;
}
.hrpadding {
	margin-top: 1px;
	margin-bottom: 1px;
}

