body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300
}

	/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';	content: none;
}
table {	border-collapse: collapse;	border-spacing: 0;
}

.mousetoHand{
	cursor: pointer;
}
.text-muted {
	color: #BCBB30;
}
.text-thin {
	font-weight: 100;
}
.title-super {
	font-size: 70px;
}
.title-small {
	font-size: 20px;
}
.title-logo {
	margin-top: 40px;
}
p.main {
	text-align: justify;
}
.textContainer {
	vertical-align: middle;
	display: inline-block;
}
img {
	border:1px solid black;
}
.hrpadding {
	margin-top: 1px;
	margin-bottom: 1px;
}

